/* Margin Set Search Input and Respective Button */
.marginTop {
    margin: 10px 0px;
}

/* Margin Set Search buttons randomized */
.marginBottom{
    margin: 5px 0px;
}

header {
    background-image: linear-gradient(to right, blue, white);
    border-bottom: 2px solid black;
}

button {
    letter-spacing: 2px;
}

.mup {
    margin-bottom: 35px;
    font-size: 18px;
}

/* Border for Buttons */
.borderA {
    border: solid 2px black;
    border-radius: 5px;
}

/* Border To separate Lower and Upper Buttons in Search for City */
#cityBox {
    border-top: solid 2px black;
}

#mainSelection {
    border: solid 3px black;
    box-sizing: border-box;
    background-color: lightgray;

}

#smallBox {
    width: 150px;
    min-height: 207px;
    margin: 5px 20px;
}

